<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="ArkBackupGroup">
      <section name="ArkBackupConfig" type="ArkBackup.Config.AbConfigSection, ArkBackup"/>
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <ArkBackupGroup>
    <ArkBackupConfig name="TheIsland" path="C:\Program Files (x86)\Steam\steamapps\common\ARK\ShooterGame\Saved\SavedArksLocal" saves="10"/>
  </ArkBackupGroup>
</configuration>